* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: #1e2b40;
    font-family: Arial, Helvetica, sans-serif;
}

#Ukraine {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e2b40;
    text-align: center;
    color: white;
    padding: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

#ua {
    font-size: 14px;
    color: white;
}

#donate {
    text-decoration: underline;
    color: white;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0%;
    margin: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#nav>div:last-child {
    display: flex;
}

#nav>div:last-child ul {
    display: flex;
    list-style: none;
}

#nav>div:last-child ul>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav>div:last-child ul>div>button {
    width: 80px;
    margin-left: 10px;
    height: 30px;
}

#nav>div:last-child ul li {
    margin: 7px;
    padding: 7px;
    font-weight: bold;
}

#nav>div:last-child ul li a {
    text-decoration: none;
    color: #1e2b40;
}

#nav>div:last-child ul li a:hover {
    color: #778baa;
}

.dropdown {
    display: none;
}

#nav>div:last-child ul li:hover .dropdown {
    display: block;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 15px;
    margin-left: -30px;
}

#nav>div:last-child ul li:hover .dropdown ul {
    display: block;
    margin: 10px;
}

#nav>div:last-child ul li:hover .dropdown ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted;
}

.disc {
    margin-top: 6%;
    margin-bottom: 4%;
}

.dis {
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

.button {
    padding: 1%;
    background-color: rgb(94, 218, 102);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginbutton {
    padding: 1%;
    background-color: white;
    border: 1px solid #1e2b40;
    border-radius: 5px;
    cursor: pointer;
}

#lang {
    margin-top: 2%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    gap: 3%;
}

#lang>img {
    width: 6%;
}

#video {
    margin: auto;
    width: 60%;
}

#video>img:first-child {
    width: 100%;
}

.playbutton {
    width: 50px;
    position: absolute;
    left: 50%;
    top: 125%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#video>img:first-child:hover .playbutton {
    width: 100px;
}

#player {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 125%;
    transform: translate(-50%, -50%);
    display: none;
}

video:focus {
    outline: none;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}

.middlehead {
    margin-top: 5%;
}

#middletop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 65%;
    margin: auto;
    gap: 20% 4%;
    margin-top: 2%;
}

#middletop>div {
    display: flex;
    margin-left: 1%;
}

#middletop>div>img {
    margin-left: 1%;
    margin-right: 3%;
    width: 60px;
}

#middletop>div>div>p {
    text-align: left;
    margin-top: 5%;
    font-size: 12px;
    color: grey
}

#middletop>div>div>h4 {
    text-align: left;
    margin-top: 4%;
}

#setup {
    margin-top: 15%;
    padding: 6%;
    background-color: whitesmoke;
    height: 450px;
}

#setup>div {
    display: flex;
    width: 68%;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    margin-top: 2%;
}

#setup>div>img {
    width: 350px;
}

#setup>h1 {
    margin-bottom: 2%;
}

#setup>p {
    font-size: 12px;
    color: rgb(61, 58, 58);
}

#setup>div>ul {
    margin-left: 4%;
}

#setup>div>ul>li {
    text-align: left;
    margin-top: 8%;
    font-weight: bold;
}

#use {
    margin-top: 4%;
}

#use>img {
    margin-top: 3%;
    margin-bottom: 5%;
}

#dqm{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

#dqm>ul{
    width: 26%;
    text-align: left;
}

#dqm>ul>h4{
    text-align: left;
    margin-bottom: 7%;
    margin-left: -7%;
}

#dqm>ul>li{
    text-align: left;
    margin-bottom: 8%;
}

#lastbtn{
    margin-top: 6%;
    margin-bottom: 6%;
}